<!DOCTYPE html>
<body>

  <li ng-repeat="fruit in selectedFruitList">
    {{fruit}}
    <span ng-click="Remove($index)">X</span>
  </li>
   <button ng-click="clearList()">Clear</button>

  <angucomplete-alt id="fruit"
   placeholder="Input fruit"
   pause="100"
   selected-object="selectedFruit"
   local-data="fruitList"
   search-fields="name"
   title-field="name"
   minlength="1"
   clear-selected="true"
   />





  <!-- <div id="K">
    <input type="text" ng-model="searchUser" placeholder="Search people...."/>
    <div id="K1">
      <label for="nameRadio"> Search by Name</label>
      <input type="radio" id="nameRadio" name="choice"/><br /><br />
      <label for="nameRadio"> Search by Email</label>
      <input type="radio" id="emailRadio"  name="choice"/>
    </div>
    <br />
    <div id="K2" ng-repeat="user in nameData | filter: searchUser">
      {{user}}
    </div>
  </div> -->
</body>
