<!DOCTYPE html>
<body>
<!--

   -->

  <!-- <angucomplete-alt id="fruit"
   placeholder="Input fruit"
   pause="100"
   selected-object="selectedFruit"
   local-data="foodDatabase"
   title-field="name"
   minlength="1"
   clear-selected="true"
   /> -->
   <li ng-repeat="foodObj in selectedFoodList track by $index">
     {{foodObj.text}}
      <span ng-click="Remove($index)">X</span>
      <div>
        expires in {{foodObj.day}} days
      </div>

   </li>

   <button ng-click="clearList()">Clear</button>

   <input type="search" ng-change="clear()" ng-model="foodKey" placeholder="Input food...."/>
   <div id="K2" ng-click="getParentScope().addFood(food)" ng-repeat="food in foodKeys | filter: foodKey |
   emptyifblank: foodKey">
     {{food}}

   </div>






  <!-- <div id="K">

    <div id="K1">
      <label for="nameRadio"> Search by Name</label>
      <input type="radio" id="nameRadio" name="choice"/><br /><br />
      <label for="nameRadio"> Search by Email</label>
      <input type="radio" id="emailRadio"  name="choice"/>
    </div>
    <br />

  </div> -->
</body>
