@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background-color: #E5E7E9;
}

#A{
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: rgba(0,0,0,0.8);
  top: 0;
  left: 0;
}

#A h3{
  color: white;
  font-family: 'Lato', sans-serif;
  line-height: 50px;
  margin-left: 50px;
  display: inline-block;
}

i{
  margin-left: 7px;
}

#B{
  position: absolute;
  top: 100px;
  padding-top: 100px;
  padding-left: 100px;
}

#B input{
  width: 900px;
  height: 50px;
  border: none;
  font-family: 'Abel', sans-serif;
  padding-left: 10px;
}

::-webkit-input-placeholder {
  color:;
}
