<!DOCTYPE html>
<div id="A">
  <h3>ADD ITEMS  <i class="fa fa-plus" aria-hidden="true"></i> </h3>
  <h3> MAKE RECIPE  <i class="fa fa-coffee" aria-hidden="true"></i></h3>
</div>
<div id="B">

  <!-- SEARCH BAR -->
   <div id="B1">
    <input type="search" ng-change="clear()" ng-model="foodKey" placeholder="SEARCH FOOD ..."/>
    <div id="B1A">
      <div class="full-height" ng-click="getParentScope().addFood(food)"
          ng-repeat="food in foodKeys | filter: foodKey | emptyifblank: foodKey">
           {{food}} <span ng-click="getParentScope().addFood(food)">
           <i class="fa fa-plus-circle" aria-hidden="true"></i></span>
      </div>
    </div>
  </div>


  <div id="B2">
    <h2>YOUR PANTRY </h2>
    <div id="B2A">
      <div ng-repeat="food in selectedFoodList">
        <i class="fa fa-caret-right" aria-hidden="true"></i>
        {{food}}
        <span ng-click="Remove($index)"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
      </div>
    </div>

    <button ng-click="clearList()">CLEAR LIST</button>
  </div>

</div>
